<?xml version="1.0"?>
<config>
    <sections>
        <smvendors_email>
            <groups>
                <review_group>
                    <label>Vendor Review</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <review_vendor>
                            <label>Email Template For Vendor Review</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </review_vendor>
                    </fields>
                </review_group>
            </groups>
        </smvendors_email>
    </sections>
</config>