<?xml version="1.0"?>
<config>
  <modules>
    <SM_Base>
      <version>1.0.1</version>
      <platform>ee</platform>
    </SM_Base>
  </modules>
  
	<global>
		<blocks>
		  <smbase>
			<class>SM_Base_Block</class>
		  </smbase>
		</blocks>
		<resources>
		  <smbase_setup>
			  <setup>
				  <module>SM_Base</module>
			  </setup>
			  <connection>
				  <use>core_setup</use>
			  </connection>
			</smbase_setup>
			<smbase_write>
				<connection>
					<use>core_write</use>
				</connection>
			</smbase_write>
			<smbase_read>
				<connection>
					<use>core_read</use>
				</connection>
			</smbase_read>
		</resources>
		<models>
			<smbase>
				<class>SM_Base_Model</class>
			</smbase>
		</models>
		<helpers>
			<smbase>
				<class>SM_Base_Helper</class>
			</smbase>
		</helpers>
	</global>
	
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<smbase>
											<title>SM - Extensions Information</title>
										</smbase>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
    <events>
        <controller_action_predispatch>
            <observers>
                <smbase_upds>
                    <type>singleton</type>
                    <class>smbase/feed</class>
                    <method>check</method>
                </smbase_upds>
            </observers>
        </controller_action_predispatch>
    </events> 
	</adminhtml>
	<default>
		<smbase>
			<feed>
				<check_frequency>86400</check_frequency>
				<interests>INFO,PROMO,UPDATE_RELEASE,NEW_RELEASE,INSTALLED_UPDATE</interests>
			</feed>
		</smbase>
	</default>			
</config>