<?xml version="1.0"?>
<config>
    <modules>
        <Fishpig_Wordpress_Addon_CS>
            <version>1.2.0.3</version>
        </Fishpig_Wordpress_Addon_CS>
    </modules>
    <global>
		<events>
			<wordpress_integration_test_results_after>
				<observers>
					<wp_addon_cs>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_Cs_Helper_System</class>
						<method>getIntegrationTestResultsObserver</method>
					</wp_addon_cs>
				</observers>
			</wordpress_integration_test_results_after>
            <controller_action_predispatch_customer_account_loginPost>
            	<observers>
            		<wp_addon_cs>
            			<type>singleton</type>
            			<class>Fishpig_Wordpress_Addon_CS_Model_Observer</class>
            			<!--<method>customerLogin</method>-->
            			<method>customerAccountLoginPostObserver</method>
            		</wp_addon_cs>
            	</observers>
            </controller_action_predispatch_customer_account_loginPost>
            <customer_load_after>
            	<observers>
            		<wp_addon_cs>
            			<class>Fishpig_Wordpress_Addon_CS_Model_Observer</class>
						<!--<method>initCustomerUpdate</method>-->
            			<method>customerLoadAfterObserver</method>
            		</wp_addon_cs>
            	</observers>
            </customer_load_after>
            <customer_save_after>
            	<observers>
            		<wp_addon_cs>
            			<type>singleton</type>
            			<class>Fishpig_Wordpress_Addon_CS_Model_Observer</class>
            			<!--<method>customerUpdate</method>-->
            			<method>customerSaveAfterObserver</method>
            		</wp_addon_cs>
            	</observers>
            </customer_save_after>
			<checkout_type_onepage_save_order_after>
				<observers>
					<wp_addon_cs>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_CS_Model_Observer</class>
						<!--<method>saveCustomerFromOnepage</method>-->
						<method>onepageSaveOrderAfterObserver</method>
					</wp_addon_cs>
				</observers>
			</checkout_type_onepage_save_order_after>
        </events>
        <resources>
        	<wp_addon_cs_setup>
        		<setup>
        			<module>Fishpig_Wordpress_Addon_CS</module>
        		</setup>
				<connection>
					<use>core_setup</use>
				</connection>
        	</wp_addon_cs_setup>
        </resources>
	</global>
	<default>
		<wordpress_extend>
			<customer_synchronisation>
				<enabled>1</enabled>
			</customer_synchronisation>
		</wordpress_extend>
	</default>
</config>